@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220510/pngtree-abstract-futuristic-technology-background-with-digital-number-timer-concept-and-countdown-image_1288351.jpg");
    background-size: 100% 100%;
}

.counter-heading {
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 800;
    color: white;
}

.counter-value {
    font-size: 75px;
    font-weight: 900;
}

.button {
    margin: 8px;
    border: 1px solid;
    border-color: white;
}